# kedder/ofxstatement @ 2022-08-30
https://github.com/kedder/ofxstatement/archive/20bbfcc04269506ac1d4c5d7efa4bc4077cfef24/master.zip
# ssipos90/ofxstatement-ro
https://github.com/ssipos90/ofxstatement-ro-ing/archive/refs/tags/v0.1.0.zip
# ofxstatement-revolut==2.0.2-1
https://github.com/ssipos90/ofxstatement-revolut/archive/refs/tags/v2.0.2-1.zip
